@use '../custom' as *;
@use '../components/animations.scss' as *;

.bestsellers {
    background-color: $white-100;
    padding: 4rem 0;
    font-family: 'Outfit', sans-serif;

    .desc-btn {
        display: flex;
        justify-content: space-between;
    }
    h4{
        font-size: 1.5rem;
    }

    .best-seller-product{
        width: 100%;
        height: 24rem;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        .product-btn{
            @include bestSellerProducbtn;
            background-color: transparent;
            color: $white;
            padding: 0.5rem 4.5rem;
            width: 90%;
            opacity: 0;
            border: 2px solid $white;
            transition: opacity 0.3s ease-in-out;   
            }
    }
    .bs-1-img{
        background-image: url('../../images/product_card_toothpaste_bottle.webp');
        transition: background-position 0.3s ease-in-out;
    }
    .bs-1-img:hover{
        background-position: 0 -5rem;
        .product-btn{
            opacity: 1;
        }
        h4{
            color: $white;
        }
    }
    .bs-2-img{
        background-image: url('../../images/product_card_2.webp');
        transition: background-position 0.3s ease-in-out;
    }
    .bs-2-img:hover{
        background-position: 0 -5rem;
        .product-btn{
            opacity: 1;
        }
        h4{
            color: $white;
        }
    }
    .bs-3-img{
        background-image: url('../../images/product_card_3.webp');
        transition: background-position 0.3s ease-in-out;
    }
    .bs-3-img:hover{
        background-position: 0 -3rem;
        .product-btn{
            opacity: 1;
        }
        h4{
            color: $white;
        }
    }
    .bs-4-img{
        background-image: url('../../images/product_card_body_wash_bottle.webp');
        transition: background-position 0.3s ease-in-out;
    }
    .bs-4-img:hover{
        background-position: 0 -3rem;
        .product-btn{
            opacity: 1;
        }
        h4{
            color: $white;
        }
    }
}