@use '../custom' as *;
@use '../components/animations.scss' as *;


.starterets{
    padding: 4rem 0;
    background-color: $white-100;
    
}

.desc-btn{
    display: flex;
    justify-content: space-between;
    font-family: 'Outfit' , sans-serif;


    .shop-btn{
        background-color: $teal;
        padding: 0.25rem 1rem;
        font-size: 1.2rem;
        color: $black;
    }
}

.product{
    background-color: $blue;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 24rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-left: 0.2rem solid $teal;
    object-fit: cover;

    .product-img {
            width: 100%;
            height: 100%;
        }


        .product-info{
            background-color: rgba($primary,0.75);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Outfit',sans-serif;
    
            .caption{
                text-align: center;
                color: $white;
                width: 80%;
                font-weight: 300;
                @include absoluteCenter;
    
                h4{
                    
                    display: block;
                }
            }

            .button-group{
                @include productButtons;
                display: flex;
                justify-content: space-between;
                justify-content: center;
                align-items: center;
                

                .product-btn{
                background-color: transparent;
                color: $white;
                padding: 0.5rem 5rem;
                width: 100%;
                }

                .more-btn{
                    background-color: transparent;
                    border: 0.25rem solid $white;
                }
            }
        }
    
        &:hover{
            .product-info{
                opacity: 1;
                visibility: visible;
                object-position: 1 -1vw;
                @include transitionProperty;
                cursor: pointer;
            }
            img{
                transform: scale(1.5);
                @include transitionProperty;
                
            }
            
        }

        &:hover{
            h4{
                color: $white;
            }
        }
        
}

//product-price

.product-name{
    font-size: 1.25rem;
    font-family: 'Outfit' , sans-serif;
    color: $black;
    font-weight: 400;
    margin-left: 0.2rem;
}
.product-price{
    font-size: 1.125rem;
    font-family: 'Outfit' , sans-serif;
    color: $green;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .36px;
    margin-top: 0.5rem;
    margin-left: 0.2rem;

    .old-price{
        text-decoration: line-through;
        font-size: 1rem;
        font-weight: 300;
        margin-left: 0.25rem;
        color: $green-light;
    }
}

.product-1{
    background-image: url('../../images/pr-1.webp');
    // width: 100%;
    // height: 100%;
    // object-fit: contain;
    // object-position: center;
}
.product-2{
    background-image: url('../../images/pr-2.webp');
}
.product-3{
    background-image: url('../../images/pr-3.webp');
}
.product-4{
    background-image: url('../../images/pr-4.webp');
}